@use 'src/styles/vars';

.carouselHiking {
  padding: vars.$gutter;

  .makeStyles-root-1 {
    max-width: 100%;
  }

  // sélectionne tous les images ayant un nom de class commençant
  // par "makeStyles-img-" car material-ui rajoute un nombre à la fin
  // du nom de la class dépendant du nombre d'image dans le carousel
  img[class^="makeStyles-img-"] {
    width: 100%;
    height: 250px;
  }
}

// dimensions qu'il faut à partir de 480px de largeur d'écran:
@media (min-width: vars.$breakpoint-mobile) {
  .carouselHiking {
    img[class^="makeStyles-img-"] {
      width: 100%;
      height: 300px;
    }
  }
}

// dimensions qu'il faut à partir de 768px de largeur d'écran:
@media (min-width: vars.$breakpoint-tablet) {
  .carouselHiking {
    img[class^="makeStyles-img-"] {
      width: 100%;
      height: 420px;
    }
  }
}
