// Colors
$dark-color: #222222 ;
$light-color: #fff;
$text-light-color: #808080;
$shadow-color: #dbdbdb;
$background-color: #f8f8f8;
$primary-color: #Dbad4d;
$confirm-color: #39af48;
$confirm-hover-color: #2d8a39;
$cancel-color: #DC143C;
$cancel-hover-color: #6e091e;

// Margin and padding
$gutter: 1rem;

// Height
$height-footer: 80px;
$height-nav: 115px;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1279px;

// Font
$mini-font: 0.9rem;
$normal-font: 1.2rem;
$title1-font: 2.2rem;
$title2-font: 2rem;
$title3-font: 1.5rem;
$line-height-medium: 1.6rem;

// Icons
$width-icon: 1.6rem;
$width-icon-medium: 2rem;
